* {
  background-color: black;
}
body {
  color: lightskyblue;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: black;
  height: 900px;
}

.header {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 80px;
  border-radius: 30px;
  align-items: baseline;
  justify-content: center;
  display: flex;
}
h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: lightskyblue;
  font-size: 60px;
  margin-top: 60px;
}

.jumbotron {
  height: 500px;
  align-items: center;
  border: 10px solid forestgreen;
  display: flex;
  justify-content: center;
  background-color: forestgreen;
  margin-bottom: 20px;
}

.footer {
  background-image: url("https://images.freeimages.com/images/large-previews/7ef/grass-texture-1166117.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: green;
  font-weight: bolder;
  color: lightskyblue;
  align-items: baseline;
  justify-content: center;
  display: flex;
  height: 80px;
  margin-top: 20px;
  padding-top: 20px;
}

.btn-group {
  border: 10px solid forestgreen;
  border-radius: 10px;
}
