body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url("https://images.nintendolife.com/00dda5c8d1fbf/donkey-kong-country.original.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.container {
  height: 150px;
  width: 250px;
  border: 4px solid rgb(16, 252, 36);
  border-radius: 5px;
  background-color: black;
  color: white;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.game-area {
  width: 900px;
  height: 815px;
  margin-left: 5px;
  margin-right: 200px;
  background-color: black;
  border: 4px solid rgb(16, 252, 36);
  position: relative;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.ball {
  background-color: rgb(217, 253, 9);
  height: 25px;
  width: 25px;
  border-radius: 30px;
  position: absolute;
  top: 10px;
  left: 500px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.paddle {
  width: 20px;
  height: 100px;
  border-radius: 15px;
  top: 100px;
  position: absolute;
  background-color: rgb(42, 236, 250);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.player-paddle {
  left: 0;
  bottom: 0;
  top: 100;
  margin: 10px;
}

.player-paddle .verticalTextHome {
  width: 1px;
  font-weight: bolder;
  word-wrap: break-word;
  white-space: pre-wrap;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.computer-paddle {
  right: 0;
  top: 0;
  bottom: 11;
  margin: 10px;
}

.computer-paddle .verticalTextAway {
  width: 1px;
  font-weight: bolder;
  word-wrap: break-word;
  white-space: pre-wrap;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.center-line {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 450px;
  color: gold;
  border: 3px dotted gold;
  width: 2px;
  height: 808px;
  font-weight: bolder;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
