* {
  font-weight: bold;
  margin: 10px;
}

.btn-group {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: center;
}

.container {
  background-image: url("./images/TODOMBackground.png");
  margin-bottom: 50px;
}

.complete {
  text-decoration: line-through;
}

.container {
  background-color: black;
  height: 1200px;
  width: 1000px;
  padding: 100px;
  margin-bottom: 10px;
}

.jumbotron {
  padding: 10px;
  margin: 100px;
}

.jumbotron h1 {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* button {
  margin-left: 450px;
  font-weight: bolder;
} */

#add {
  margin-left: 250px;
  font-weight: bold;
}

#clearTodos {
  margin-left: 350px;
  font-weight: bold;
}
