* {
  font-weight: bold;
  margin: 10px;
}

.btn-group {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 260px;
}

.container {
  margin-bottom: 50px;
}

.complete {
  text-decoration: line-through;
}

.container {
  background-color: black;
}

.jumbotron {
  padding: 10px;
  margin: 100px;
}

.jumbotron h1 {
  justify-content: center;
  display: flex;
  align-items: center;
}

#add {
  margin-left: 250px;
  font-weight: bold;
}

#clearTodos {
  margin-left: 350px;
  font-weight: bold;
}
